{% extends 'baseadmin.html.twig' %}
{% block body %}
<br><br>
  <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="row">
        {% for cours in cours %}
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="{{ asset('webImage/' ~ cours.image) }}"  alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="{{path('enseignant_pdf_video', {'id': cours.id})}}">{{cours.titre}}</a></h5>
                <p class="font-italic text-center"></p>
                <p class="card-text">{{cours.description}}</p>
              </div>
              
                 
            <span class="badge badge-complete">
                  <a href="{{ path('enseignant_groupe_etudiant', {'id': cours.id}) }}">Voir groupe</a>
                 </span>
            </div>
          </div>
         {% endfor %}
        </div>

      </div>
    </section><!-- End Events Section -->
{% endblock %}