{% extends 'base.html.twig' %}

{% block title %} Contact{% endblock %}

{% block body %}
<style>
#titre{
  font-size : 27px
}
</style>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Contact Us</h2>
       <p id="titre">  Page Facebook : <a href="https://www.facebook.com/Mindsacademy13" style="color :white">Minds' Academy</a>
         </p>
        <p id="titre"> Whatsapp : + 216 95 624 160  
           </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div data-aos="fade-up">
         </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
               
                <h4></h4>
                <p></p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>minds.academy13@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+216 95 624 160</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">
  {{ form_start(form) }}
            
              <div class="form-row">
            
                <div class="col-md-6 form-group">
                {{ form_widget(form.nom) }}
                    <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  {{ form_widget(form.email) }}
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                {{ form_widget(form.sujet) }}
               <div class="validate"></div>
              </div>
              <div class="form-group">
               {{ form_widget(form.message) }}
                 <div class="validate"></div>
              </div>
               
           
              <div class="text-center"><button type="submit" class="btn btn-success">Envoyer Message</button></div>
  
 
          </div>
        {{ form_end(form) }}
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



{% endblock %}
