{% extends 'baseadmin.html.twig' %}

{% block title %}Enseignant index{% endblock %}

{% block body %}



  <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">{{nbEnseignant}} Enseignants</strong>
                            </div>
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th class="serial">#</th>
                                            <th class="avatar">Image</th>
                                              <th class="serial">nom</th>
                                              <th class="serial">prenom</th>
                                              <th class="serial">email</th>
                                              
                                            
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                            {% for enseignant in enseignants %}
                                        <tr>
                                            <td class="serial">{{ enseignant.id }}</td>
                                            <td class="avatar">
                                                <div class="round-img">
                                                    <a href="#"><img class="rounded-circle"  src="{{ asset('webImage/' ~ enseignant.image) }}"  alt=""></a>
                                                </div>
                                            </td>
                                            <td>  <span class="name">{{ enseignant.nom }}</span> </td>
                                             <td>  <span class="name">{{ enseignant.prenom }}</span> </td>
                                              <td>  <span class="name">{{ enseignant.email }}</span> </td>
                                          
                                            <td>
                                             <span class="badge badge-complete">
                    <a href="{{ path('user_show', {'id': enseignant.id}) }}">Voir</a></span>
                     <span class="badge badge-complete">
                    <a href="{{ path('user_edit', {'id': enseignant.id}) }}">Modifier</a>
                                               </span>
                                            </td>
                                        </tr>
                                       
                                       
                                       
                                       {% endfor %}
                                    </tbody>
                                </table>
                            </div> <!-- /.table-stats -->
                        </div>
                    </div>


    <a href="{{ path('enseignant_new') }}" class="btn btn-success">Ajouter Un Enseignant</a>
{% endblock %}
